html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #0f172a;
}

.container {
    display: grid;
    grid-template-rows: 5rem 2fr 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

header {
    padding: 0 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0f2fe;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    z-index:1;
    font-size: 24px;
}

header img {
    width: 5rem;
}

header input {
    height: 2rem;
    width: 250px;
    font-size: 22px;
    border-radius: 10px;
}

.current-units {
    font-weight: 600;
}

header form button {
    border: none;
    border-radius: 20px;
    background-color: #fbbf24;
    color: #0f172a; 
    height: 2.25rem;
    width: 125px;
    font-size: 24px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2), 0px -3px 5px rgba(0,0,0,0.2);
}

.units-wrapper {
    border: 3px solid #fbbf24;
    border-radius: 20px;
   
    padding: 10px;
}

header form button:hover, .units-wrapper:hover {
    cursor: pointer;
}



main {
   
    background-color: #f1f5f9;
}

.weather-details {
    
    background-color: #e0f2fe;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2), 0px -5px 10px rgba(0,0,0,0.2);
    z-index:1;
}

.seven-day {
   
    background-color: #f1f5f9;
}