html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #0f172a;
}

.container {
    display: grid;
    grid-template-rows: 5rem 3fr 2fr 2fr;
    height: 100vh;
    width: 100vw;
}

/*****Style header******/
header {
    padding: 0 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0f2fe;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    z-index:1;
    font-size: 22px;
}

header img {
    width: 5rem;
}

header input {
    height: 2rem;
    width: 250px;
    font-size: 22px;
    border-radius: 10px;
}

.current-units {
    font-weight: 600;
}

header form button {
    border: none;
    border-radius: 20px;
    background-color: #f59e0b;
    color: #0f172a; 
    height: 2.25rem;
    width: 125px;
    font-size: 24px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2), 0px -3px 5px rgba(0,0,0,0.2);
    
}

.units-wrapper {
    border: 3px solid #f59e0b;
    border-radius: 20px;
   
    padding: 10px;
}

header form button:hover, .units-wrapper:hover {
    cursor: pointer;
}
/*****End style header*****/

/*****style main*****/
main {
    background-color: #f1f5f9;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-weather {
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-rows: 2fr 1fr 2fr 2fr 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
    font-size: 1.5rem;
}

.low-high {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.current-weather img {
    width: 5rem;
}

.city, .temp {
    font-size: 2.5rem;
    font-weight: 600;
}

/*****end style main*****/

/*****style weather details*****/
.weather-details {
    padding: 30px 20% 30px 20%;
    background-color: #e0f2fe;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2), 0px -5px 10px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 22px;
}

.weather-details-wrapper {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    background-color: #e0f2fe;
    height: 100%;
}

.weather-details-wrapper > div {
    width: 150px;
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #f59e0b;
    border-radius: 20px;
}

.weather-details img {
    width: 3rem;
}

/*****end style weather details*****/

/*****style seven day forecast*****/
.seven-day {
    background-color: #f1f5f9;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.seven-day-wrapper {
    padding: 2rem;
    display: grid;
    gap:10px;
    grid-template-columns: repeat(8, 1fr);
    height: 150px;

    width: 80%;
}

.seven-day img {
    width: 2.5rem;
}



.day-wrapper {
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: #e0f2fe;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2), 0px -5px 10px rgba(0,0,0,0.2);
    z-index: 1;
}

.day-wrapper .day {
    font-size: 22px;
}
/*****end style seven day forecast*****/